

.menuItem {
  width: 80px;
  height: 80px;
  border: solid white 3px;
  border-radius: 50%;
  text-align: center;
  margin-top: 10px;
  background-size: 30px;
}

.menuItem.newgame {
  background-color: #FBCC44;
  background-image: linear-gradient(-45deg, #FABF15 25%, transparent 25%,
  transparent 50%, #FABF15 50%, #FABF15 75%,
  transparent 75%, transparent);
}

.menuItem.about {
  background-color: #CF95C1;
  background-image: linear-gradient(-45deg, #C37BB1 25%, transparent 25%,
  transparent 50%, #C37BB1 50%, #C37BB1 75%,
  transparent 75%, transparent);
}

.menuItem.link {
  background-color: #F19499;
  background-image: linear-gradient(-45deg, #ED7980 25%, transparent 25%,
  transparent 50%, #ED7980 50%, #ED7980 75%,
  transparent 75%, transparent);
}

.menuItem.tech {
  background-color: #f4a578;
  background-image: linear-gradient(-45deg, #F18F56 25%, transparent 25%,
  transparent 50%, #F18F56 50%, #F18F56 75%,
  transparent 75%, transparent);
}

.menuItem.contact {
  background-color: #FF706D;
  background-image: linear-gradient(-45deg, #FF4C48 25%, transparent 25%,
  transparent 50%, #FF4C48 50%, #FF4C48 75%,
  transparent 75%, transparent);
}

.menuItem a {
  display: block;
  padding: 35px 0;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
}
